.postPage {
    position: relative;  
    width: 100%;
    min-height: 100vh;
  }  
  .container {
    position: absolute;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    padding: 0 20px;
    max-width: 1192px;
    width: 100%;
  }
  .content {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    min-height: 895px;
  }
  .headerText {
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #363755;
    left: 96px;
    top: 66px;
  }  
  .headerPosts {
    position: absolute;
    background: #D9D9D9;
    border-radius: 30px;
    width: 100%;
    max-width: 1025px;
    min-height: 623px;
    left: 96px;
    top: 179px;
  }
  .imageText {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
    position: absolute;
    left: 55px;
    top: 63px;
  }
  .titleText {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
    position: absolute;
    left: 55px;
    top: 136px;
  }
  .mainText {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
    position: absolute;
    left: 55px;
    top: 219px;
  }
  .imageEdit {
    position: absolute;
    width: 263px;    
    height: 41px;
    background: #FFFFFF;
    border-radius: 20px;
    left: 185px;
    top: 55px;
    padding: 10px;
  }
  .titleEdit {
    position: absolute;
    width: 263px;    
    height: 41px;
    background: #FFFFFF;
    border-radius: 20px;
    left: 185px;
    top: 128px;
    padding: 10px;
  }
  .mainEdit {
    position: absolute;
    width: 779px;
    height: 242px;
    background: #FFFFFF;
    border-radius: 20px;
    left: 185px;
    top: 201px;
    padding: 10px;
    resize: none;
  }
  .formButtonSave {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 391px;
    top: 516px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 91px 20px;
  }
  .userId {
    position: absolute;
    width: 263px;    
    height: 41px;
    background: #FFFFFF;
    border-radius: 20px;
    left: 185px;
    top: 458px;
    padding: 10px;
    // display: none;
  }
  