.authContainer {
  width: 100%;
  min-height: 100vh;

  position: relative;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 0 20px;
  width: 100%;
  max-width: 623px;
}

.panel {
  background-color: white;
  border-radius: 30px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 100px 22px;
}

.tab {
  background-color: hsla(200, 6%, 93%, 1);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55px;
  padding: 5px;

  .link {
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: hsla(238, 22%, 27%, 1);

    &.active {
      background-color: white;
    }
  }
}
