.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 56px;
  gap: 74px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

  .chekbox {    
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    display: flex;
  }
  