$width: 256px;
$height: 256px;

.fill {
    width: $width;
    height: $height;
    border-radius: 30px;
}
.feedPage {
    position: relative;
    width: 100%;
    min-height: 100vh;
  } 
  .container {
    position: absolute;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    padding: 0 20px;
    max-width: 1192px;
    width: 100%;
  }
  .content {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    min-height: 1540px;
  }
  .headerText {
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #363755;
    left: 467px;
    top: 110px;
  }
  .headerEmail {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #363755;
    left: 467px;
    top: 180px;
  }
  .headerSlogan {
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #363755;
    left: 467px;
    top: 242px;
  }
  .headerButton
  {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 919px;
    top: 159px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 55px 20px;
  }
  .headerButtonFollow {
    position: absolute;
    width: 166px;
    height: 56px;
    left: 464px;
    top: 322px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 55px 20px;
  }
  .headerPosts {
    position: absolute;
    background: #D9D9D9;
    border-radius: 30px;
    width: 100%;
    max-width: 1025px;
    min-height: 906px;
    left: 96px;
    top: 448px;
  }
  .footerButtonPrev {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 96px;
    top: 1472px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 91px 20px;
  }
  .footerButtonNext {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 903px;
    top: 1472px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 91px 20px;
  }
  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 33px;
    margin-left: 95px;
    margin-top: 35px;
  }
  .imageSetting {
    position: absolute;
    width: 292px;
    height: 292px;
    left: 112px;
    top: 86px;
    border-radius: 30px;
  }
  .link {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 919px;
    top: 102px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    text-align: center;
  }
  .usertext {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;    
    top: 201px;
    left: 18px;
  }
  .usertitle {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;
    top: 203px;
    left: 18px;
  }