$width: 256px;
$height: 256px;

.fill {
    width: $width;
    height: $height;
    border-radius: 30px;
}
.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 95px;
    margin-top: 15px;
  }
  .usertext {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;    
    top: 201px;
    left: 18px;
  }
  .usertitle {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;
    top: 203px;
    left: 18px;
  }