.authorizationPage {
    width: 100%;
    min-height: 100vh;
    position: relative;
  }
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
    padding: 0 20px;
    width: 100%;
    max-width: 623px;
  }
  .form {
    background-color: white;
    border-radius: 30px;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 74px;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .input {
    padding: 18px 16px;
    border-radius: 10px;
    border: 1px solid hsla(210, 5%, 85%, 1);
    resize: none;
  }
  .button {
    background-color: hsla(238, 22%, 27%, 1);
    border-radius: 10px;
    height: 56px;
    color: white;
    font-size: 16px;
  }
  .buttonLog {    
    background-color: hsla(0, 79%, 27%, 1);
    border-radius: 10px;
    height: 56px;
    color: white;
    font-size: 16px;
  }
  .chekbox {    
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    display: flex;
  }