$width: 120px;
$height: 120px;

.fill {
    width: $width;
    height: $height;
    border-radius: 30px;
    margin-left: 32px;
    margin-top: 15px;
}
.feedPage {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  
  .container {
    position: absolute;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    padding: 0 20px;
    max-width: 1192px;
    width: 100%;
  }
  .content {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    min-height: 1320px;
  }
  .headerText {
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #363755;
    left: 96px;
    top: 66px;
  }
  .headerButton
  {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 90px;
    top: 159px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 55px 20px;
  }
  .headerUsers {
    position: absolute;    
    background: #D9D9D9;
    border-radius: 30px;
    width: 100%;
    max-width: 1025px;
    min-height: 1033px;
    left: 96px;
    top: 140px;           
  }
  .footerButtonPrev {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 96px;
    top: 1242px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 91px 20px;
  }
  .footerButtonNext {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 903px;
    top: 1242px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 91px 20px;
  }
  .user {
    // position: absolute;   
    width: 881px;
    height: 150px;    
    margin-left: 72px;
    margin-top: 47px;
    background: #FFFFFF;
    border-radius: 30px;        
  }
  .usersImg {
    position: absolute;    
    left: 32px;
    top: 15px;
    border-radius: 30px;
    width: 120px;
    height: 120px;
  } 
  .postUsers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 26px;   
  }
  .username {        
    position: absolute;
    margin-left: 175px;
    color: #363755;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    margin-left: 179px;
    margin-top: 35px;
  }
  .useremail {
    position: absolute;    
    color: #363755;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    margin-left: 179px;
    margin-top: 75px;
  }
  .followButton {
    position: absolute;
    margin-left: 615px;
    margin-top: 43px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    background: #363755;
    border-radius: 10px;
    padding: 18px 91px 20px;
  }