.postPage {
    position: relative;  
    width: 100%;
    min-height: 100vh;
  }  
  .container {
    position: absolute;
    left: 50%;
    top: 80%;  
    transform: translate(-50%, -50%);
    padding: 0 20px;
    max-width: 1192px;
    width: 100%;
  }
  .content {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    min-height: 1320px;
  }
  .headerText {
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #363755;
    left: 96px;
    top: 66px;
  }  
  .postEdit {
    position: absolute;
    width: 748px;
    height: 455px;
    background: #D9D9D9;
    border-radius: 30px;
    left: 373px;
    top: 155px;
    padding: 46px 46px;
    resize: none;
  }
  .formButtonEdit {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 903px;
    top: 745px;
    background: #363755;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 91px 20px;
  }
  .formButtonDelete {
    position: absolute;
    width: 218px;
    height: 56px;
    left: 662px;
    top: 745px;
    background: #7A0E0E;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 18px 91px 20px;
  }
  .image {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 94px;
    top: 155px;
    border-radius: 30px;
  }
  .postUser {
    position: absolute;
    width: 249px;
    height: 98px;
    left: 872px;
    top: 621px;
    background: #D9D9D9;
    border-radius: 30px;
  }
  .imageSmall {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 16px;
    top: 15px;
    border-radius: 20px;
  }
  .postUserName {
    position: absolute;
    width: 42px;
    height: 25px;
    left: 99px;
    top: 36px;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
  }
  .post_message {
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #B22222;
    left: 30%;
    top: 30%;
  }