.navigation {
  width: 100%;
  height: min-content;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.user {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .imageWrapper {
    width: 68px;
    min-width: 68px;
    height: 68px;
    border-radius: 20px;
    overflow: hidden;
  }

  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.link {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 18px;
}
.vector {
  position: absolute;
  width: 20px;
  height: 25px;
}
.navText {
  margin-left: 30px;
}